* {
    margin: 0;
    box-sizing: border-box;
}

body {
    /* background-color: #039be5; */
    color: #fff;
    height: 100vh;
}

.fallback {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-info {
    height: auto;
    display: flex;
    justify-content: center;
}


/* Estilos del login */

.header-info {
    background-image: url(static/images/background.png);
    background-size: cover;
}

.header-info img {
    width: 50%;
    height: auto;
}

.form-group {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: repeat(2, 1fr);
    justify-content: center;
    gap: 30px 0;
}

.form-control input {
    border: none;
    outline: none;
    border-bottom: 2px solid rgb(33, 57, 73);
    transition: all ease 0.3s;
}

.form-control input:focus {
    border-bottom: 2px solid #09f;
}

.form-control input:invalid {
    border-bottom: 2px solid red;
    box-shadow: none;
}

.form-control input, .form-control button {
    margin: 0 auto;
    width: 75%;
}

.form-control {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.send {
    grid-column-start: 1;
    grid-column-end: span 2;
    grid-row-start: 3;
}

.form-control button {
    padding: 12px;
    border-radius: 12px;
    border: none;
    cursor: pointer;
}

.form-control.github button {
    background-color: #010101;
    color: #fff;
}

.form-control.github button i {
    font-size: 18px;
    margin-right: 12px;
}

@media screen and (max-width: 768px) {

    .login {
        margin: 50px 0;
    }

    .header-info {
        height: auto;
    }
    .header-info img {
        width: 100%;
        height: auto;
    }

    .form-group {
        grid-template-columns: 100%;
    }
    .form-control.button button {
        padding: 12px;
        border: none;
        color: #fff;
        background-color: #039be5;
    }

    .form-control.github {
        grid-template-columns: 1 / span 2;
    }

    .form-control.github button i {
        font-size: 18px;
        margin-right: 8px;
    }

}